.logo{
	width: 100%;
	max-width:150px;
}
p>li>span{
	color:white;
	font-family: 'Open Sans';
	padding: 5px 20px;
}
.bg-primary {
    background-color: #007bff !important;
    color: white !important;
}
.btn.btn-light-secondary.me-1.mb-1 {
    color: #fff;
    background-color: #b4b4b4;
    border-color: #b4b4b4;
}